# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: integration-test

permissions:
  contents: read

on: [push, pull_request]
  
jobs:
  tentacle-java21:
    name: integration_test_tentacle_java21
    runs-on: ubuntu-latest
    steps:  
      # run ceph rgw using v20.2.0 image
      - run: docker pull quay.io/ceph/ceph:v20.2.0
      - run: |
          docker run -d -p 80:8080 -v /etc/ceph/:/etc/ceph/ \
            -e MON_IP=127.0.0.1 -e CEPH_PUBLIC_NETWORK=127.0.0.1/32 \
            --name rgw quay.io/ceph/ceph:v20.2.0 \
            bash -c "
            mkdir -p /var/lib/ceph/radosgw /var/lib/ceph/mon/ceph-a /var/lib/ceph/osd /var/log/ceph /etc/ceph;
            FSID=\$(uuidgen);
            echo '[global]' > /etc/ceph/ceph.conf;
            echo \"fsid = \$FSID\" >> /etc/ceph/ceph.conf;
            echo 'mon initial members = a' >> /etc/ceph/ceph.conf;
            echo 'mon host = 127.0.0.1' >> /etc/ceph/ceph.conf;
            echo 'public network = 127.0.0.1/32' >> /etc/ceph/ceph.conf;
            echo 'auth cluster required = none' >> /etc/ceph/ceph.conf;
            echo 'auth service required = none' >> /etc/ceph/ceph.conf;
            echo 'auth client required = none' >> /etc/ceph/ceph.conf;
            echo 'osd journal size = 100' >> /etc/ceph/ceph.conf;
            echo 'osd pool default size = 1' >> /etc/ceph/ceph.conf;
            echo 'osd pool default min size = 1' >> /etc/ceph/ceph.conf;
            echo 'osd pool default pg num = 8' >> /etc/ceph/ceph.conf;
            echo 'osd pool default pgp num = 8' >> /etc/ceph/ceph.conf;
            echo 'osd crush chooseleaf type = 0' >> /etc/ceph/ceph.conf;
            echo '[client.rgw.gateway]' >> /etc/ceph/ceph.conf;
            echo 'rgw frontends = beast port=8080' >> /etc/ceph/ceph.conf;
            echo 'rgw enable usage log = true' >> /etc/ceph/ceph.conf;
            monmaptool --create --add a 127.0.0.1 --print /tmp/monmap;
            ceph-mon --cluster ceph --mkfs -i a --inject-monmap /tmp/monmap --setuser root --setgroup root;
            ceph-mon -i a --cluster ceph --public-addr 127.0.0.1 --setuser root --setgroup root &
            sleep 5;
            ceph-authtool --create-keyring /var/lib/ceph/radosgw/keyring --gen-key -n client.rgw.gateway;
            radosgw-admin user create --uid=qqq --display-name=qqq --access-key=qqq --secret-key=qqq;
            radosgw-admin caps add --uid=qqq --caps=\"users=*;buckets=*;metadata=*;usage=*;zone=*\";
            radosgw -n client.rgw.gateway --cluster ceph --setuser root --setgroup root &
            tail -f /dev/null
            "
      - run: timeout 180 bash -c "until docker logs rgw 2>&1 | grep -E 'beast.*8080|starting handler'; do sleep 2; done"
      - run: docker ps
      - run: docker logs rgw
      - run: echo -e 'GET / HTTP/1.1\r\nHost:localhost\r\n\r\n' | nc localhost 80
      # setup java        
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'
      # run integration test
      - uses: actions/checkout@v2
      - run: mvn install -Dgpg.skip=true
      - run: cat target/surefire-reports/*.txt
  reef-java21:
    name: integration_test_reef_java21
    runs-on: ubuntu-latest
    steps:  
      # run ceph rgw
      - run: docker pull quay.io/ceph/demo:latest-reef
      - run: docker run -d -p 80:8080 -v /etc/ceph/:/etc/ceph/ -e CEPH_DEMO_UID=qqq -e CEPH_DEMO_ACCESS_KEY=qqq -e CEPH_DEMO_SECRET_KEY=qqq -e MON_IP=127.0.0.1 -e CEPH_PUBLIC_NETWORK=127.0.0.1/32 -e NETWORK_AUTO_DETECT=4 --name rgw quay.io/ceph/demo:latest-reef demo
      - run: timeout 180 bash -c "until docker logs rgw &> rgw.log && grep SUCCESS rgw.log; do sleep 1; done" 
      - run: docker ps
      - run: cat rgw.log
      - run: echo -e 'GET / HTTP/1.1\r\nHost:localhost\r\n\r\n' | nc localhost 80
      # setup java        
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'
      # run integration test
      - uses: actions/checkout@v2
      - run: mvn install -Dgpg.skip=true
      - run: cat target/surefire-reports/*.txt
  reef-java11:
    name: integration_test_reef_java11
    runs-on: ubuntu-latest
    steps:  
      # run ceph rgw
      - run: docker pull quay.io/ceph/demo:latest-reef
      - run: docker run -d -p 80:8080 -v /etc/ceph/:/etc/ceph/ -e CEPH_DEMO_UID=qqq -e CEPH_DEMO_ACCESS_KEY=qqq -e CEPH_DEMO_SECRET_KEY=qqq -e MON_IP=127.0.0.1 -e CEPH_PUBLIC_NETWORK=127.0.0.1/32 -e NETWORK_AUTO_DETECT=4 --name rgw quay.io/ceph/demo:latest-reef demo
      - run: timeout 180 bash -c "until docker logs rgw &> rgw.log && grep SUCCESS rgw.log; do sleep 1; done" 
      - run: docker ps
      - run: cat rgw.log
      - run: echo -e 'GET / HTTP/1.1\r\nHost:localhost\r\n\r\n' | nc localhost 80
      # setup java        
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      # run integration test
      - uses: actions/checkout@v2
      - run: mvn install -Dgpg.skip=true
      - run: cat target/surefire-reports/*.txt
  pacific-java8:
    name: integration_test_pacific_java8
    runs-on: ubuntu-latest
    steps:  
      # run ceph rgw
      - run: docker pull ceph/daemon:v6.0.3-stable-6.0-pacific-centos-8-x86_64
      - run: docker run -d -p 80:8080 -v /etc/ceph/:/etc/ceph/ -e CEPH_DEMO_UID=qqq -e CEPH_DEMO_ACCESS_KEY=qqq -e CEPH_DEMO_SECRET_KEY=qqq -e NETWORK_AUTO_DETECT=4 --name rgw ceph/daemon:v6.0.3-stable-6.0-pacific-centos-8-x86_64 demo
      - run: timeout 120 bash -c "until docker logs rgw &> rgw.log && grep SUCCESS rgw.log; do sleep 1; done" 
      - run: docker ps
      - run: cat rgw.log
      - run: echo -e 'GET / HTTP/1.1\r\nHost:localhost\r\n\r\n' | nc localhost 80
      # setup java        
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      # run integration test
      - uses: actions/checkout@v2
      - run: mvn install -Dgpg.skip=true
      - run: cat target/surefire-reports/*.txt
  octopus:
    name: integration_test_octopus
    runs-on: ubuntu-latest
    steps:  
      # run ceph rgw
      - run: docker pull ceph/daemon:v5.0.4-stable-5.0-octopus-centos-8
      - run: docker run -d -p 80:8080 -v /etc/ceph/:/etc/ceph/ -e CEPH_DEMO_UID=qqq -e CEPH_DEMO_ACCESS_KEY=qqq -e CEPH_DEMO_SECRET_KEY=qqq -e NETWORK_AUTO_DETECT=4 --name rgw ceph/daemon:v5.0.4-stable-5.0-octopus-centos-8 demo
      - run: timeout 120 bash -c "until docker logs rgw &> rgw.log && grep SUCCESS rgw.log; do sleep 1; done" 
      - run: docker ps
      - run: cat rgw.log
      - run: echo -e 'GET / HTTP/1.1\r\nHost:localhost\r\n\r\n' | nc localhost 80
      # setup java        
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      # run integration test
      - uses: actions/checkout@v2
      - run: mvn install -Dgpg.skip=true
      - run: cat target/surefire-reports/*.txt

